.form-control {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.form-control label {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  display: block;
  font-size: 1.5rem;
  letter-spacing: .25rem;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  height: 3rem;
  background: white;
  border: none;
  width: 100%;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 1rem;
}

.form-control input:focus {
  outline: none;
  background: white;
  outline: none;
}

.form-control.invalid input{
  border: solid 2px red;
  background: transparent;
}

.form-control.invalid label {
color: red;
}