.button {
  font: inherit;
  font-weight: bolder;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  width: 100%;
  border: 1px solid #A60303;
  color: white;
  background: #A60303;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #590202;
  border-color: #590202;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
